* {
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    min-width: 100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
}

button{
    /* background: linear-gradient(45deg,#f1f3f6,#e20c16)!important; */
    color: red !important;
    /* border-color: white !important; */
}

h1{
    font-size: 60px;
    font-weight: 100;
    padding: 10px 30px;
    color: #ddecdd;
}

input[type = "text"] {
    background: transparent;
    color: white;
    border-color: white;
    width: 300px;
}

label{
    display: flex;
    font-size: 20px;
    font-weight: 100;
    flex-direction: row;
    line-height: 50px;
    margin-bottom: 10px;
    margin-left: 80px;
    color: #ddecdd;

    /* justify-content: flex-end; */
    text-align: left;
    width: 500px;
}



input[type = "submit"] {
    display: inline-block;
    background: linear-gradient(45deg,#f1f3f6,#e20c16);
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    margin-left: 1000px;
    margin-top: 20px;
}

select{
    background: transparent;
    color: white;
    border-color: white;
    width: 300px;

    width:400px;
    height: 40px;
}

table td,th{
    /* background-color: white; */
    color: white !important;

}

